[submodule "ext/maker"]
	path = ext/maker
	url = /afs/ece.cmu.edu/project/abstract/repos/maker
[submodule "ext/libmsp"]
	path = ext/libmsp
	url = /afs/ece.cmu.edu/project/abstract/repos/libmsp
[submodule "ext/libio"]
	path = ext/libio
	url = /afs/ece.cmu.edu/project/abstract/repos/libio
[submodule "ext/libmspprintf"]
	path = ext/libmspprintf
	url = /afs/ece.cmu.edu/project/abstract/repos/libmspprintf
[submodule "ext/libmspsoftuart"]
	path = ext/libmspsoftuart
	url = /afs/ece.cmu.edu/project/abstract/repos/msp430-softuart
[submodule "ext/libedb"]
	path = ext/libedb
	url = /afs/ece.cmu.edu/project/abstract/repos/edb/libedb
